@import url('https://fonts.googleapis.com/css2?family=Moirai+One&family=Noto+Sans+Tifinagh&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}

.debug-body{
    width: 100%;
    height: 100vh;
    margin: 20px 0 20px 0;
    padding: 10px;
}
header{

    background-color: wheat;
    width: 100%;
    height: 120px;
    box-shadow: 0 0 35px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
header h1{
    color: rgb(2, 53, 111);
    text-transform: uppercase;
}
.menu-bar a ,.language-menu a{
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px;
    font-weight: bolder;
    color:brown;
    transition: .2s;
}
.menu-bar a:hover,.language-menu a:hover{
    font-size: 20px;
    transition: .2s;
}
#top-header {
    background-color: wheat;
}
section{
    width: 100%;
    height: 600px;
}
.language-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    border-radius: 20px 5px 20px 5px;
    background: black;
}
.language-menu a{
    color: white;
}
.language-menu a:hover{
    font-size: 19px;
    text-decoration: underline 5px solid rgb(161, 238, 46);

}
.language-menu h1{
    color: rgb(250, 90, 15);
}
.input-output{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.input-program,.output-program{
    width: 55%;
    height: 500px;
    box-shadow: 0 0 20px gray;
    border-radius: 5px;
    outline: none;
    padding: 40px;
    font-size: 20PX;
    border: none;
}.output-program{
    width: 45%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer{
    width: 100%;
    border: 2px solid black;
    background: black;
}
.about-us{
    height: 460px;
    padding: 20px;
    background: wheat;
}
.about-us p{   
    line-height: 1.5em;
    word-spacing: .2em;
    color: brown;
}
.about-us h2{
    color: rgb(2, 53, 111);
}
.contact-us{
    background: rgb(27,27,27);
    height: 150px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.contact-us p{
    font-size: 10px;
}

.index-section{
    height: fit-content;
}

.index-section{
    margin: 0;
}
#form {
    width: 350px;
    margin: 10vh auto;
    margin-top: 0;
    background-color: white;
    opacity: 0.7;
    border-radius: 20px 0;
    padding: 20px;
    border: 2px solid black;
    background: black;
    color: white;
    position: relative;
}
h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 0.3%;
    color: cyan;
    font-weight: bolder;
}
#form button{
    font-size: 15px;
    background-color:cyan;
    padding: 10px;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 1px;
    color: rgb(0, 0, 0);
    margin: 20px 0px;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight:bolder;
    transition: .4s;
}
#form button:hover{
    box-shadow: 0 0 35px cyan ;
    transition: .4s;
}
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.input-group input{
    border-radius: 5px;
    padding: 5px;
    background-color: none;
    border: none;
    border-bottom: 2px solid;
    margin-top: 8px;
    cursor: pointer;
    outline: none;
}
.gender { 
    padding: 5px;
    margin-top: 20px;
    margin-left: 10%;
    display: grid ;
    grid-template-columns: 10% 1fr 10% 1fr;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login a{
    color:rgb(162, 0, 255);
}
#terms {
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
}
.close-x{
    position: absolute;
    top: 0;
    right:0;
    background: red;
    width: 40px;
    cursor: pointer;
}
.close-x h1{
    color: rgb(255, 255, 255);
}
.login-pop-up{
    display: none;                 /* pop up - property */
    background: black;
    position: absolute;  
    width: 100%;
    height: 100vh; 
    backdrop-filter: blur(20px);
    background: transparent;

}

.section-container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 75vh;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-box{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 300px;
    box-shadow: 0 0 20px black;
    border-radius: 25px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly; 
    transition: .5s;
}
#quiz-img{
    filter: drop-shadow(0 0 20px yellow);
}
.section-box button{
    width: 150px;
    height: 40px;
    border-radius: 10px ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border:1px solid wheat;
    outline: none;
    background: wheat;
    cursor: pointer;
}
.section-box button:hover{
    box-shadow:0 0 35px wheat;
}
.section-box:hover{
    width: 450px;
    height: 350px;
    transition: .5s;
}
.main-foot,.sub-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.sub-div{
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.sub-div-2 h6{
    font-weight: normal;
}
.sub-foot-child{
    margin:20px;
}
.sub-foot-child p{
    font-size: 11px;
}