body{
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #a7fafa;
}
.navbar{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b2d42;
  padding: 15px 10px;
  color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.head-name{
  font-size: 40px;
  font-weight: bold;
  color: #fcd52a;
  margin-right:80px;
  margin-left: 20px;
}
.navbar-list{
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.navbar-list li{
  position: relative;
}
.navbar-list a{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  transition: color 0.3s;
}
.navbar-list a:hover{
  color: #fcd52a;
  font-size: 19px;
  transition: .2s;
}
.submenu{
  display: none;
  position: absolute;
  background-color: #2b2d42;
  padding: 10px;
  list-style: none;
  margin: 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar-list li:hover > .submenu{
  display: block;
}
.submenu li a{
  color: #ffffff;
  font-size: 18px;
  padding: 5px 10px;
  display: block;
  text-decoration: none;
}
.submenu li a:hover{
  background-color: #fcd52a;
  color: #2b2d42;
}
.profile-dropdown{
  position: relative;
  cursor: pointer;
  margin-left: 30px;
  margin-right: 10px;
}
.profile-dropdown-btn{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}
.profile-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #5ff033;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;

}
.profile-dropdown-list{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 1000;
}
.profile-dropdown:hover .profile-dropdown-list{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.profile-dropdown-list-item{
  list-style: none;
  border-bottom: 1px solid #f0f0f0;

}
.profile-dropdown-list-item:last-child{
  border: none;
}
.profile-dropdown-list-item a{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  color:  #333;
  font-size: 0.9rem;
  transition: background-color 0.3s, color 0.3s;
}
.profile-dropdown-list-item a:hover{
  background-color: #73beff;
  color: #014146;
}
.hamburger-menu{
  display: none;
  padding-top: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 1001;
  }

  .navbar-list {
    display: none;
    flex-direction: column;
    gap: 10px;
    
  }

  .navbar-list.open {
    display: flex;
  }

  .navbar-list a {
    padding: 10px 20px;
  }

  .submenu {
    position: static;
    background-color: #3d405b;
    margin-left: 20px;
  }

  .submenu li a {
    padding: 5px 15px;
    font-size: 14px;
  }

  .profile-dropdown {
    display: flex;
    margin-top: 13px;
  }

  .profile-dropdown-list {
    left: 1px;
    width: 100%;
    gap: 1rem;
    padding: 0.8rem 2rem;
  }
  .profile-dropdown-list-item a{
    width: fit-content;
  }
  .profile-dropdown-list-item a:hover{
    background-color: #73beff;
    color: #014146;
  }
}

